body {
    background-color: #512888;
    color: #A3A0A0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #512888;
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #A3A0A0;
    border-radius: 10px;
    background-color: #fff;
}

footer {
    background-color: #512888;
    padding: 10px;
}

nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
}

li {
    text-align: left;
}

nav a {
    color: #E2E2E2;
    padding: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    main {
        height: auto;
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

.resume-main {
  height: auto;
}

.resume-main h4 {
  text-align: left;
}

.paragraph-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #A3A0A0;
  border-radius: 10px;
  background-color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #A3A0A0;
    padding: 10px;
    margin: 5px;
}

.rolling-circle {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
    animation: roll 3s linear infinite;
}

@keyframes roll {
    0% { left: 0; transform: rotate(0deg); }
    50% { left: 100%; transform: rotate(360deg); }
    100% { left: 0; transform: rotate(0deg); }
}
